.avatarWrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.avatarImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sm {
  width: 32px;
  height: 32px;
}

.md {
  width: 48px;
  height: 48px;
}

.lg {
  width: 96px;
  height: 96px;
}
