.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-family: var(--title-font-family);
    font-size: var(--main-font-size);
    border-radius: 12px;
    padding: 16px 24px;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.main {
    background-color: var(--background-button-main);
}

.main:focus {
    border: 1px solid var(--border-main);
}

.secondary {
    background-color: transparent;
    border: 1px solid var(--border-main);
}

.secondary:focus {
    border: 1px solid var(--border-access);
}