.main {
    background-color: var(--background-main);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.feedContainer {
    padding: 40px;
    display: flex;
    justify-content: center;
}