.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    background-color: var(--background-alt);
}

.searchContainer {
    width: 360px;
}

.buttonContainer {
    display: flex;
    gap: 8px;
    background-color: transparent;
}