.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    background-color: var(--background-alt);
}

.searchContainer {
    width: 360px;
}

.buttonContainer {
    display: flex;
    gap: 8px;
    background-color: transparent;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profileLink {
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    text-decoration: none;
}

.logout {
    border: none;
    background: transparent;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}