@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(./Roboto-Medium.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(./Roboto-Light.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}