:root {
  /* color-elements */
  --background-main: #d9d9d9;
  --background-alt: #ffffff;
  --background-button-main: #85D28E;
  --background-button-secondary: #dfe8e0;
  --background-disabled: #8EA979;
  --backgrond-input: #dfe8e0;
  --border-main: #737373;
  --border-error: #ef7c7c;
  --border-access: #74c443;
  --auth-gradient: linear-gradient(138deg, rgb(175, 224, 135) 0%, rgb(195, 250, 214) 50%);;

  /* font-settings */
  --main-color: #2d2020;
  --alt-color: #f0fafa;
  --error-color: #ef7c7c;
  --main-font-family: 'Roboto';
  --title-font-family: 'Roboto-Medium';
  --alt-font-family: 'Roboto-Light';
  --main-font-size: 16px;
  --title-font-size: 36px;
  --h2-font-size: 24px;
  --support-font-size: 12px;
}
